{% extends "base.html" %}

{% block content %}
<style>
	a {
		text-decoration: none;
	}
     table {
         margin: 0 auto;
         width: 50%;
         font-family: 'Source Code Pro', monospace;
     }
     tr td:nth-child(1) {
         text-align: right;
         width: 47%
     }
     tr td:nth-child(2) {
     	text-align: center;
     }
     tr td:nth-child(3) {
     	text-align: left;
     	width: 47%
     }
</style>
	<table>
		{% for doc in documents %}
		<tr>
		
		<td><a href="https://openlibrary.org/books/{{ doc[1] }}">{{doc[0][0] }}</a></td><td><a href="https://openlibrary.org/books/{{ doc[1] }}">{{query}}</a></td> <td><a href="https://openlibrary.org/books/{{ doc[1] }}">{{ doc[0][1]}}</a></td>
		
		</tr>
		{% endfor %}
	</table>
{% endblock %}