<!DOCTYPE html>
<html>
<head>
<title>TITLE WORD INDEX</title>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<!-- CSS styles for standard search box -->
</head>
<body>
	<h1>TITLE WORD INDEX</h1>
	<!-- HTML for SEARCH BAR -->
      <form method="post" action="/submit">
        <div>
          <label for="say">What would you like to find?</label>
          <input name="say" id="say" onkeyup="renderData()" value="Data Processing">
        </div>
          <button>Search</button>
        </div>
      </form>
</body>
</html>

